<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MOTIVO.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1CA2DFBA2E704AF800F23C97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CA2DFCC2E704AFA00F23C97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CA2DFD62E704AFA00F23C97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
